In [1]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

# Load the datasets
age_by_category = pd.read_excel('age_by_category.xlsx')

# Check the initial structure
print("Initial structure:", age_by_category.head())

# Assuming the headers are in the second row
age_by_category.columns = age_by_category.iloc[1]
age_by_category = age_by_category.drop(index=[0, 1])

# Check structure after setting headers
print("After setting headers:", age_by_category.head())

# Convert columns to numeric, skipping 'Country/area'
for col in age_by_category.columns[1:]:  # Assuming 'Country/area' is the first column
    # Ensure the column is not already in numeric format
    if not pd.api.types.is_numeric_dtype(age_by_category[col]):
        age_by_category[col] = pd.to_numeric(age_by_category[col], errors='coerce')

# Drop rows with any missing values
cleaned_age_by_category = age_by_category.dropna()

# Save the cleaned dataset
cleaned_age_by_category.to_csv('cleaned_age_by_category.csv', index=False)

print("Data cleaning complete and files saved.")

Initial structure:      Unnamed: 0                15-49 years  Unnamed: 2       Unnamed: 3  \
0           NaN  deaths per 100,000 people         NaN              NaN
1  Country/area                       1990      2021.0  Absolute Change
2     Singapore                        9.9         3.6             -6.3
3       Ireland                       14.5         4.7             -9.8
4         Malta                       12.9         7.9               -5

        Unnamed: 4                  70+ years  Unnamed: 6       Unnamed: 7  \
0              NaN  deaths per 100,000 people         NaN              NaN
1  Relative Change                       1990      2021.0  Absolute Change
2            -0.64                      692.3       187.4             -505
3            -0.68                     1702.7       479.4          -1223.3
4            -0.39                      755.5       248.8           -506.6

        Unnamed: 8                50-69 years  Unnamed: 10      Unnamed: 11  \
0              NaN  deaths per 100,000 people          NaN              NaN
1  Relative Change                       1990       2021.0  Absolute Change
2            -0.73                      224.4         48.6           -175.8
3            -0.72                      416.1         91.1             -325
4            -0.67                      285.8        110.1           -175.7

       Unnamed: 12
0              NaN
1  Relative Change
2            -0.78
3            -0.78
4            -0.61
After setting headers: 1 Country/area  1990  2021.0 Absolute Change Relative Change    1990  2021.0  \
2    Singapore   9.9     3.6            -6.3           -0.64   692.3   187.4
3      Ireland  14.5     4.7            -9.8           -0.68  1702.7   479.4
4        Malta  12.9     7.9              -5           -0.39   755.5   248.8
5       Brunei  16.9    11.6            -5.3           -0.31  1373.8   484.8
6      Burundi    21     6.4           -14.6            -0.7   542.3   191.4

1 Absolute Change Relative Change   1990  2021.0 Absolute Change  \
2            -505           -0.73  224.4    48.6          -175.8
3         -1223.3           -0.72  416.1    91.1            -325
4          -506.6           -0.67  285.8   110.1          -175.7
5            -889           -0.65  347.7   123.4          -224.3
6          -350.9           -0.65  273.3    93.7          -179.6

1 Relative Change
2           -0.78
3           -0.78
4           -0.61
5           -0.65
6           -0.66

TypeError: arg must be a list, tuple, 1-d array, or Series

In [5]:
import pandas as pd

# Load the datasets
death_by_smoking = pd.read_excel('death_by_smoking.xlsx')
gender_data = pd.read_excel('gender.xlsx')
types_of_diseases = pd.read_excel('types_of_diseases.xlsx')
age_by_category = pd.read_excel('age_by_category.xlsx')

# Cleaning 'Death by Smoking'
cleaned_death_by_smoking = death_by_smoking.dropna()

# Cleaning 'Gender Data'
gender_data['Share of men'] = pd.to_numeric(gender_data['Share of men'].str.replace('%', ''), errors='coerce')
gender_data['Share of women'] = pd.to_numeric(gender_data['Share of women'].str.replace('%', ''), errors='coerce')
cleaned_gender_data = gender_data.dropna()

# Cleaning 'Types of Diseases'
for col in types_of_diseases.columns[1:]:  # Skipping 'Country/area'
    types_of_diseases[col] = pd.to_numeric(types_of_diseases[col].str.extract('(\d+)')[0], errors='coerce')
cleaned_types_of_diseases = types_of_diseases.dropna()

# Cleaning 'Age by Category'
age_by_category.columns = age_by_category.iloc[1]  # Setting the second row as header
age_by_category = age_by_category.drop([0, 1])  # Dropping the first two header rows
for col in age_by_category.columns[1:]:  # Skipping 'Country/area'
    age_by_category[col] = pd.to_numeric(age_by_category[col], errors='coerce')
cleaned_age_by_category = age_by_category.dropna()

# Save the cleaned datasets
cleaned_death_by_smoking.to_csv('/path/to/cleaned_death_by_smoking.csv', index=False)
cleaned_gender_data.to_csv('/path/to/cleaned_gender_data.csv', index=False)
cleaned_types_of_diseases.to_csv('/path/to/cleaned_types_of_diseases.csv', index=False)
cleaned_age_by_category.to_csv('/path/to/cleaned_age_by_category.csv', index=False)

print("Data cleaning complete and files saved.")

<>:19: SyntaxWarning: invalid escape sequence '\d'
<>:19: SyntaxWarning: invalid escape sequence '\d'
C:\Users\priyansh singh\AppData\Local\Temp\ipykernel_10336\2888352434.py:19: SyntaxWarning: invalid escape sequence '\d'
  types_of_diseases[col] = pd.to_numeric(types_of_diseases[col].str.extract('(\d+)')[0], errors='coerce')

TypeError: arg must be a list, tuple, 1-d array, or Series

In [1]:
import pandas as pd

# Load the datasets
age_by_category = pd.read_excel('age_by_category.xlsx')

# Display initial DataFrame to check structure
print("Initial DataFrame structure:\n", age_by_category.head())

# Correct header setup assuming headers are in the second row
age_by_category.columns = age_by_category.iloc[1]
age_by_category = age_by_category[2:].reset_index(drop=True)

# Display DataFrame after setting headers to verify correct setup
print("DataFrame after setting headers:\n", age_by_category.head())

# Check data types and structures before conversion
print("Data types before conversion:")
print(age_by_category.dtypes)

# Convert columns to numeric, skipping 'Country/area'
for col in age_by_category.columns[1:]:  # Assuming 'Country/area' is the first column
    print(f"Processing column: {col} with type {age_by_category[col].dtype}")
    if not pd.api.types.is_numeric_dtype(age_by_category[col]):
        try:
            # Direct access to column as Series
            age_by_category[col] = pd.to_numeric(age_by_category[col], errors='coerce')
        except Exception as e:
            print(f"Error converting {col}: {e}")

# Print data types after conversion attempts
print("Data types after conversion:")
print(age_by_category.dtypes)

# Drop rows with any missing values
cleaned_age_by_category = age_by_category.dropna()

# Save the cleaned dataset
cleaned_age_by_category.to_csv('cleaned_age_by_category.csv', index=False)

print("Data cleaning complete and files saved.")

Initial DataFrame structure:
      Unnamed: 0                15-49 years  Unnamed: 2       Unnamed: 3  \
0           NaN  deaths per 100,000 people         NaN              NaN
1  Country/area                       1990      2021.0  Absolute Change
2     Singapore                        9.9         3.6             -6.3
3       Ireland                       14.5         4.7             -9.8
4         Malta                       12.9         7.9               -5

        Unnamed: 4                  70+ years  Unnamed: 6       Unnamed: 7  \
0              NaN  deaths per 100,000 people         NaN              NaN
1  Relative Change                       1990      2021.0  Absolute Change
2            -0.64                      692.3       187.4             -505
3            -0.68                     1702.7       479.4          -1223.3
4            -0.39                      755.5       248.8           -506.6

        Unnamed: 8                50-69 years  Unnamed: 10      Unnamed: 11  \
0              NaN  deaths per 100,000 people          NaN              NaN
1  Relative Change                       1990       2021.0  Absolute Change
2            -0.73                      224.4         48.6           -175.8
3            -0.72                      416.1         91.1             -325
4            -0.67                      285.8        110.1           -175.7

       Unnamed: 12
0              NaN
1  Relative Change
2            -0.78
3            -0.78
4            -0.61
DataFrame after setting headers:
 1 Country/area  1990  2021.0 Absolute Change Relative Change    1990  2021.0  \
0    Singapore   9.9     3.6            -6.3           -0.64   692.3   187.4
1      Ireland  14.5     4.7            -9.8           -0.68  1702.7   479.4
2        Malta  12.9     7.9              -5           -0.39   755.5   248.8
3       Brunei  16.9    11.6            -5.3           -0.31  1373.8   484.8
4      Burundi    21     6.4           -14.6            -0.7   542.3   191.4

1 Absolute Change Relative Change   1990  2021.0 Absolute Change  \
0            -505           -0.73  224.4    48.6          -175.8
1         -1223.3           -0.72  416.1    91.1            -325
2          -506.6           -0.67  285.8   110.1          -175.7
3            -889           -0.65  347.7   123.4          -224.3
4          -350.9           -0.65  273.3    93.7          -179.6

1 Relative Change
0           -0.78
1           -0.78
2           -0.61
3           -0.65
4           -0.66
Data types before conversion:
1
Country/area        object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
dtype: object

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [4]:
import pandas as pd

# Load the dataset
age_by_category = pd.read_excel('age_by_category.xlsx')

# Assuming the correct headers start from the second row
age_by_category.columns = age_by_category.iloc[1]  # Set the second row as headers
age_by_category = age_by_category.iloc[2:].reset_index(drop=True)  # Drop the first two rows which are headers and reset index

# Display data types and structure before conversion
print("Data types and structure before conversion:")
print(age_by_category.dtypes)
print(age_by_category.head())

# Convert columns to numeric, skipping 'Country/area'
for col in age_by_category.columns[1:]:  # Assuming 'Country/area' is the first column
    print(f"Processing column: {col}")
    try:
        # Explicitly ensure the column is treated as a Series
        series_col = pd.Series(age_by_category[col])
        age_by_category[col] = pd.to_numeric(series_col, errors='coerce')
    except Exception as e:
        print(f"Error processing {col}: {e}")
        print(f"Data in {col}: {age_by_category[col].head()}")  # Display first few entries to inspect

# Display data types after conversion
print("Data types after conversion:")
print(age_by_category.dtypes)

# Drop rows with any missing values
cleaned_age_by_category = age_by_category.dropna()

# Save the cleaned dataset
cleaned_age_by_category.to_csv('cleaned_age_by_category.csv', index=False)

print("Data cleaning complete and files saved.")

Data types and structure before conversion:
1
Country/area        object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
dtype: object
1 Country/area  1990  2021.0 Absolute Change Relative Change    1990  2021.0  \
0    Singapore   9.9     3.6            -6.3           -0.64   692.3   187.4
1      Ireland  14.5     4.7            -9.8           -0.68  1702.7   479.4
2        Malta  12.9     7.9              -5           -0.39   755.5   248.8
3       Brunei  16.9    11.6            -5.3           -0.31  1373.8   484.8
4      Burundi    21     6.4           -14.6            -0.7   542.3   191.4

1 Absolute Change Relative Change   1990  2021.0 Absolute Change  \
0            -505           -0.73  224.4    48.6          -175.8
1         -1223.3           -0.72  416.1    91.1            -325
2          -506.6           -0.67  285.8   110.1          -175.7
3            -889           -0.65  347.7   123.4          -224.3
4          -350.9           -0.65  273.3    93.7          -179.6

1 Relative Change
0           -0.78
1           -0.78
2           -0.61
3           -0.65
4           -0.66
Processing column: 1990
Error processing 1990: 2
Data in 1990: 1  1990    1990   1990
0   9.9   692.3  224.4
1  14.5  1702.7  416.1
2  12.9   755.5  285.8
3  16.9  1373.8  347.7
4    21   542.3  273.3
Processing column: 2021.0
Error processing 2021.0: Data must be 1-dimensional, got ndarray of shape (229, 3) instead
Data in 2021.0: 1  2021.0  2021.0  2021.0
0     3.6   187.4    48.6
1     4.7   479.4    91.1
2     7.9   248.8   110.1
3    11.6   484.8   123.4
4     6.4   191.4    93.7
Processing column: Absolute Change
Error processing Absolute Change: 2
Data in Absolute Change: 1 Absolute Change Absolute Change Absolute Change
0            -6.3            -505          -175.8
1            -9.8         -1223.3            -325
2              -5          -506.6          -175.7
3            -5.3            -889          -224.3
4           -14.6          -350.9          -179.6
Processing column: Relative Change
Error processing Relative Change: 2
Data in Relative Change: 1 Relative Change Relative Change Relative Change
0           -0.64           -0.73           -0.78
1           -0.68           -0.72           -0.78
2           -0.39           -0.67           -0.61
3           -0.31           -0.65           -0.65
4            -0.7           -0.65           -0.66
Processing column: 1990
Error processing 1990: 2
Data in 1990: 1  1990    1990   1990
0   9.9   692.3  224.4
1  14.5  1702.7  416.1
2  12.9   755.5  285.8
3  16.9  1373.8  347.7
4    21   542.3  273.3
Processing column: 2021.0
Error processing 2021.0: Data must be 1-dimensional, got ndarray of shape (229, 3) instead
Data in 2021.0: 1  2021.0  2021.0  2021.0
0     3.6   187.4    48.6
1     4.7   479.4    91.1
2     7.9   248.8   110.1
3    11.6   484.8   123.4
4     6.4   191.4    93.7
Processing column: Absolute Change
Error processing Absolute Change: 2
Data in Absolute Change: 1 Absolute Change Absolute Change Absolute Change
0            -6.3            -505          -175.8
1            -9.8         -1223.3            -325
2              -5          -506.6          -175.7
3            -5.3            -889          -224.3
4           -14.6          -350.9          -179.6
Processing column: Relative Change
Error processing Relative Change: 2
Data in Relative Change: 1 Relative Change Relative Change Relative Change
0           -0.64           -0.73           -0.78
1           -0.68           -0.72           -0.78
2           -0.39           -0.67           -0.61
3           -0.31           -0.65           -0.65
4            -0.7           -0.65           -0.66
Processing column: 1990
Error processing 1990: 2
Data in 1990: 1  1990    1990   1990
0   9.9   692.3  224.4
1  14.5  1702.7  416.1
2  12.9   755.5  285.8
3  16.9  1373.8  347.7
4    21   542.3  273.3
Processing column: 2021.0
Error processing 2021.0: Data must be 1-dimensional, got ndarray of shape (229, 3) instead
Data in 2021.0: 1  2021.0  2021.0  2021.0
0     3.6   187.4    48.6
1     4.7   479.4    91.1
2     7.9   248.8   110.1
3    11.6   484.8   123.4
4     6.4   191.4    93.7
Processing column: Absolute Change
Error processing Absolute Change: 2
Data in Absolute Change: 1 Absolute Change Absolute Change Absolute Change
0            -6.3            -505          -175.8
1            -9.8         -1223.3            -325
2              -5          -506.6          -175.7
3            -5.3            -889          -224.3
4           -14.6          -350.9          -179.6
Processing column: Relative Change
Error processing Relative Change: 2
Data in Relative Change: 1 Relative Change Relative Change Relative Change
0           -0.64           -0.73           -0.78
1           -0.68           -0.72           -0.78
2           -0.39           -0.67           -0.61
3           -0.31           -0.65           -0.65
4            -0.7           -0.65           -0.66
Data types after conversion:
1
Country/area        object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
dtype: object
Data cleaning complete and files saved.