In [1]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

# Load the datasets
age_by_category = pd.read_excel('age_by_category.xlsx')

# Check the initial structure
print("Initial structure:", age_by_category.head())

# Assuming the headers are in the second row
age_by_category.columns = age_by_category.iloc[1]
age_by_category = age_by_category.drop(index=[0, 1])

# Check structure after setting headers
print("After setting headers:", age_by_category.head())

# Convert columns to numeric, skipping 'Country/area'
for col in age_by_category.columns[1:]:  # Assuming 'Country/area' is the first column
    # Ensure the column is not already in numeric format
    if not pd.api.types.is_numeric_dtype(age_by_category[col]):
        age_by_category[col] = pd.to_numeric(age_by_category[col], errors='coerce')

# Drop rows with any missing values
cleaned_age_by_category = age_by_category.dropna()

# Save the cleaned dataset
cleaned_age_by_category.to_csv('cleaned_age_by_category.csv', index=False)

print("Data cleaning complete and files saved.")

Initial structure:      Unnamed: 0                15-49 years  Unnamed: 2       Unnamed: 3  \
0           NaN  deaths per 100,000 people         NaN              NaN
1  Country/area                       1990      2021.0  Absolute Change
2     Singapore                        9.9         3.6             -6.3
3       Ireland                       14.5         4.7             -9.8
4         Malta                       12.9         7.9               -5

        Unnamed: 4                  70+ years  Unnamed: 6       Unnamed: 7  \
0              NaN  deaths per 100,000 people         NaN              NaN
1  Relative Change                       1990      2021.0  Absolute Change
2            -0.64                      692.3       187.4             -505
3            -0.68                     1702.7       479.4          -1223.3
4            -0.39                      755.5       248.8           -506.6

        Unnamed: 8                50-69 years  Unnamed: 10      Unnamed: 11  \
0              NaN  deaths per 100,000 people          NaN              NaN
1  Relative Change                       1990       2021.0  Absolute Change
2            -0.73                      224.4         48.6           -175.8
3            -0.72                      416.1         91.1             -325
4            -0.67                      285.8        110.1           -175.7

       Unnamed: 12
0              NaN
1  Relative Change
2            -0.78
3            -0.78
4            -0.61
After setting headers: 1 Country/area  1990  2021.0 Absolute Change Relative Change    1990  2021.0  \
2    Singapore   9.9     3.6            -6.3           -0.64   692.3   187.4
3      Ireland  14.5     4.7            -9.8           -0.68  1702.7   479.4
4        Malta  12.9     7.9              -5           -0.39   755.5   248.8
5       Brunei  16.9    11.6            -5.3           -0.31  1373.8   484.8
6      Burundi    21     6.4           -14.6            -0.7   542.3   191.4

1 Absolute Change Relative Change   1990  2021.0 Absolute Change  \
2            -505           -0.73  224.4    48.6          -175.8
3         -1223.3           -0.72  416.1    91.1            -325
4          -506.6           -0.67  285.8   110.1          -175.7
5            -889           -0.65  347.7   123.4          -224.3
6          -350.9           -0.65  273.3    93.7          -179.6

1 Relative Change
2           -0.78
3           -0.78
4           -0.61
5           -0.65
6           -0.66

TypeError: arg must be a list, tuple, 1-d array, or Series

In [5]:
import pandas as pd

# Load the datasets
death_by_smoking = pd.read_excel('death_by_smoking.xlsx')
gender_data = pd.read_excel('gender.xlsx')
types_of_diseases = pd.read_excel('types_of_diseases.xlsx')
age_by_category = pd.read_excel('age_by_category.xlsx')

# Cleaning 'Death by Smoking'
cleaned_death_by_smoking = death_by_smoking.dropna()

# Cleaning 'Gender Data'
gender_data['Share of men'] = pd.to_numeric(gender_data['Share of men'].str.replace('%', ''), errors='coerce')
gender_data['Share of women'] = pd.to_numeric(gender_data['Share of women'].str.replace('%', ''), errors='coerce')
cleaned_gender_data = gender_data.dropna()

# Cleaning 'Types of Diseases'
for col in types_of_diseases.columns[1:]:  # Skipping 'Country/area'
    types_of_diseases[col] = pd.to_numeric(types_of_diseases[col].str.extract('(\d+)')[0], errors='coerce')
cleaned_types_of_diseases = types_of_diseases.dropna()

# Cleaning 'Age by Category'
age_by_category.columns = age_by_category.iloc[1]  # Setting the second row as header
age_by_category = age_by_category.drop([0, 1])  # Dropping the first two header rows
for col in age_by_category.columns[1:]:  # Skipping 'Country/area'
    age_by_category[col] = pd.to_numeric(age_by_category[col], errors='coerce')
cleaned_age_by_category = age_by_category.dropna()

# Save the cleaned datasets
cleaned_death_by_smoking.to_csv('/path/to/cleaned_death_by_smoking.csv', index=False)
cleaned_gender_data.to_csv('/path/to/cleaned_gender_data.csv', index=False)
cleaned_types_of_diseases.to_csv('/path/to/cleaned_types_of_diseases.csv', index=False)
cleaned_age_by_category.to_csv('/path/to/cleaned_age_by_category.csv', index=False)

print("Data cleaning complete and files saved.")

<>:19: SyntaxWarning: invalid escape sequence '\d'
<>:19: SyntaxWarning: invalid escape sequence '\d'
C:\Users\priyansh singh\AppData\Local\Temp\ipykernel_10336\2888352434.py:19: SyntaxWarning: invalid escape sequence '\d'
  types_of_diseases[col] = pd.to_numeric(types_of_diseases[col].str.extract('(\d+)')[0], errors='coerce')

TypeError: arg must be a list, tuple, 1-d array, or Series

In [1]:
import pandas as pd

# Load the datasets
age_by_category = pd.read_excel('age_by_category.xlsx')

# Display initial DataFrame to check structure
print("Initial DataFrame structure:\n", age_by_category.head())

# Correct header setup assuming headers are in the second row
age_by_category.columns = age_by_category.iloc[1]
age_by_category = age_by_category[2:].reset_index(drop=True)

# Display DataFrame after setting headers to verify correct setup
print("DataFrame after setting headers:\n", age_by_category.head())

# Check data types and structures before conversion
print("Data types before conversion:")
print(age_by_category.dtypes)

# Convert columns to numeric, skipping 'Country/area'
for col in age_by_category.columns[1:]:  # Assuming 'Country/area' is the first column
    print(f"Processing column: {col} with type {age_by_category[col].dtype}")
    if not pd.api.types.is_numeric_dtype(age_by_category[col]):
        try:
            # Direct access to column as Series
            age_by_category[col] = pd.to_numeric(age_by_category[col], errors='coerce')
        except Exception as e:
            print(f"Error converting {col}: {e}")

# Print data types after conversion attempts
print("Data types after conversion:")
print(age_by_category.dtypes)

# Drop rows with any missing values
cleaned_age_by_category = age_by_category.dropna()

# Save the cleaned dataset
cleaned_age_by_category.to_csv('cleaned_age_by_category.csv', index=False)

print("Data cleaning complete and files saved.")

Initial DataFrame structure:
      Unnamed: 0                15-49 years  Unnamed: 2       Unnamed: 3  \
0           NaN  deaths per 100,000 people         NaN              NaN
1  Country/area                       1990      2021.0  Absolute Change
2     Singapore                        9.9         3.6             -6.3
3       Ireland                       14.5         4.7             -9.8
4         Malta                       12.9         7.9               -5

        Unnamed: 4                  70+ years  Unnamed: 6       Unnamed: 7  \
0              NaN  deaths per 100,000 people         NaN              NaN
1  Relative Change                       1990      2021.0  Absolute Change
2            -0.64                      692.3       187.4             -505
3            -0.68                     1702.7       479.4          -1223.3
4            -0.39                      755.5       248.8           -506.6

        Unnamed: 8                50-69 years  Unnamed: 10      Unnamed: 11  \
0              NaN  deaths per 100,000 people          NaN              NaN
1  Relative Change                       1990       2021.0  Absolute Change
2            -0.73                      224.4         48.6           -175.8
3            -0.72                      416.1         91.1             -325
4            -0.67                      285.8        110.1           -175.7

       Unnamed: 12
0              NaN
1  Relative Change
2            -0.78
3            -0.78
4            -0.61
DataFrame after setting headers:
 1 Country/area  1990  2021.0 Absolute Change Relative Change    1990  2021.0  \
0    Singapore   9.9     3.6            -6.3           -0.64   692.3   187.4
1      Ireland  14.5     4.7            -9.8           -0.68  1702.7   479.4
2        Malta  12.9     7.9              -5           -0.39   755.5   248.8
3       Brunei  16.9    11.6            -5.3           -0.31  1373.8   484.8
4      Burundi    21     6.4           -14.6            -0.7   542.3   191.4

1 Absolute Change Relative Change   1990  2021.0 Absolute Change  \
0            -505           -0.73  224.4    48.6          -175.8
1         -1223.3           -0.72  416.1    91.1            -325
2          -506.6           -0.67  285.8   110.1          -175.7
3            -889           -0.65  347.7   123.4          -224.3
4          -350.9           -0.65  273.3    93.7          -179.6

1 Relative Change
0           -0.78
1           -0.78
2           -0.61
3           -0.65
4           -0.66
Data types before conversion:
1
Country/area        object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
dtype: object

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [4]:
import pandas as pd

# Load the dataset
age_by_category = pd.read_excel('age_by_category.xlsx')

# Assuming the correct headers start from the second row
age_by_category.columns = age_by_category.iloc[1]  # Set the second row as headers
age_by_category = age_by_category.iloc[2:].reset_index(drop=True)  # Drop the first two rows which are headers and reset index

# Display data types and structure before conversion
print("Data types and structure before conversion:")
print(age_by_category.dtypes)
print(age_by_category.head())

# Convert columns to numeric, skipping 'Country/area'
for col in age_by_category.columns[1:]:  # Assuming 'Country/area' is the first column
    print(f"Processing column: {col}")
    try:
        # Explicitly ensure the column is treated as a Series
        series_col = pd.Series(age_by_category[col])
        age_by_category[col] = pd.to_numeric(series_col, errors='coerce')
    except Exception as e:
        print(f"Error processing {col}: {e}")
        print(f"Data in {col}: {age_by_category[col].head()}")  # Display first few entries to inspect

# Display data types after conversion
print("Data types after conversion:")
print(age_by_category.dtypes)

# Drop rows with any missing values
cleaned_age_by_category = age_by_category.dropna()

# Save the cleaned dataset
cleaned_age_by_category.to_csv('cleaned_age_by_category.csv', index=False)

print("Data cleaning complete and files saved.")

Data types and structure before conversion:
1
Country/area        object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
dtype: object
1 Country/area  1990  2021.0 Absolute Change Relative Change    1990  2021.0  \
0    Singapore   9.9     3.6            -6.3           -0.64   692.3   187.4
1      Ireland  14.5     4.7            -9.8           -0.68  1702.7   479.4
2        Malta  12.9     7.9              -5           -0.39   755.5   248.8
3       Brunei  16.9    11.6            -5.3           -0.31  1373.8   484.8
4      Burundi    21     6.4           -14.6            -0.7   542.3   191.4

1 Absolute Change Relative Change   1990  2021.0 Absolute Change  \
0            -505           -0.73  224.4    48.6          -175.8
1         -1223.3           -0.72  416.1    91.1            -325
2          -506.6           -0.67  285.8   110.1          -175.7
3            -889           -0.65  347.7   123.4          -224.3
4          -350.9           -0.65  273.3    93.7          -179.6

1 Relative Change
0           -0.78
1           -0.78
2           -0.61
3           -0.65
4           -0.66
Processing column: 1990
Error processing 1990: 2
Data in 1990: 1  1990    1990   1990
0   9.9   692.3  224.4
1  14.5  1702.7  416.1
2  12.9   755.5  285.8
3  16.9  1373.8  347.7
4    21   542.3  273.3
Processing column: 2021.0
Error processing 2021.0: Data must be 1-dimensional, got ndarray of shape (229, 3) instead
Data in 2021.0: 1  2021.0  2021.0  2021.0
0     3.6   187.4    48.6
1     4.7   479.4    91.1
2     7.9   248.8   110.1
3    11.6   484.8   123.4
4     6.4   191.4    93.7
Processing column: Absolute Change
Error processing Absolute Change: 2
Data in Absolute Change: 1 Absolute Change Absolute Change Absolute Change
0            -6.3            -505          -175.8
1            -9.8         -1223.3            -325
2              -5          -506.6          -175.7
3            -5.3            -889          -224.3
4           -14.6          -350.9          -179.6
Processing column: Relative Change
Error processing Relative Change: 2
Data in Relative Change: 1 Relative Change Relative Change Relative Change
0           -0.64           -0.73           -0.78
1           -0.68           -0.72           -0.78
2           -0.39           -0.67           -0.61
3           -0.31           -0.65           -0.65
4            -0.7           -0.65           -0.66
Processing column: 1990
Error processing 1990: 2
Data in 1990: 1  1990    1990   1990
0   9.9   692.3  224.4
1  14.5  1702.7  416.1
2  12.9   755.5  285.8
3  16.9  1373.8  347.7
4    21   542.3  273.3
Processing column: 2021.0
Error processing 2021.0: Data must be 1-dimensional, got ndarray of shape (229, 3) instead
Data in 2021.0: 1  2021.0  2021.0  2021.0
0     3.6   187.4    48.6
1     4.7   479.4    91.1
2     7.9   248.8   110.1
3    11.6   484.8   123.4
4     6.4   191.4    93.7
Processing column: Absolute Change
Error processing Absolute Change: 2
Data in Absolute Change: 1 Absolute Change Absolute Change Absolute Change
0            -6.3            -505          -175.8
1            -9.8         -1223.3            -325
2              -5          -506.6          -175.7
3            -5.3            -889          -224.3
4           -14.6          -350.9          -179.6
Processing column: Relative Change
Error processing Relative Change: 2
Data in Relative Change: 1 Relative Change Relative Change Relative Change
0           -0.64           -0.73           -0.78
1           -0.68           -0.72           -0.78
2           -0.39           -0.67           -0.61
3           -0.31           -0.65           -0.65
4            -0.7           -0.65           -0.66
Processing column: 1990
Error processing 1990: 2
Data in 1990: 1  1990    1990   1990
0   9.9   692.3  224.4
1  14.5  1702.7  416.1
2  12.9   755.5  285.8
3  16.9  1373.8  347.7
4    21   542.3  273.3
Processing column: 2021.0
Error processing 2021.0: Data must be 1-dimensional, got ndarray of shape (229, 3) instead
Data in 2021.0: 1  2021.0  2021.0  2021.0
0     3.6   187.4    48.6
1     4.7   479.4    91.1
2     7.9   248.8   110.1
3    11.6   484.8   123.4
4     6.4   191.4    93.7
Processing column: Absolute Change
Error processing Absolute Change: 2
Data in Absolute Change: 1 Absolute Change Absolute Change Absolute Change
0            -6.3            -505          -175.8
1            -9.8         -1223.3            -325
2              -5          -506.6          -175.7
3            -5.3            -889          -224.3
4           -14.6          -350.9          -179.6
Processing column: Relative Change
Error processing Relative Change: 2
Data in Relative Change: 1 Relative Change Relative Change Relative Change
0           -0.64           -0.73           -0.78
1           -0.68           -0.72           -0.78
2           -0.39           -0.67           -0.61
3           -0.31           -0.65           -0.65
4            -0.7           -0.65           -0.66
Data types after conversion:
1
Country/area        object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
1990                object
2021.0             float64
Absolute Change     object
Relative Change     object
dtype: object
Data cleaning complete and files saved.

In [6]:
import pandas as pd

# Load the dataset
age_by_category = pd.read_excel('death_by_smoking.xlsx')

# Assuming the correct headers start from the second row
age_by_category.columns = age_by_category.iloc[1]  # Set the second row as headers
age_by_category = age_by_category.iloc[2:].reset_index(drop=True)  # Drop the first two rows which are headers and reset index

# Display data types and structure before conversion
print("Data types and structure before conversion:")
print(age_by_category.dtypes)
print(age_by_category.head())

# Convert columns to numeric, skipping 'Country/area'
for col in age_by_category.columns[1:]:  # Assuming 'Country/area' is the first column
    print(f"Processing column: {col}")
    try:
        # Explicitly ensure the column is treated as a Series
        series_col = pd.Series(age_by_category[col])
        age_by_category[col] = pd.to_numeric(series_col, errors='coerce')
    except Exception as e:
        print(f"Error processing {col}: {e}")
        print(f"Data in {col}: {age_by_category[col].head()}")  # Display first few entries to inspect

# Display data types after conversion
print("Data types after conversion:")
print(age_by_category.dtypes)

# Drop rows with any missing values
cleaned_age_by_category = age_by_category.dropna()

# Save the cleaned dataset
cleaned_age_by_category.to_csv('cleaned_death_by_smoking.csv', index=False)

print("Data cleaning complete and files saved.")

Data types and structure before conversion:
1
 Albania     object
 137.5      float64
 94.7       float64
-42.8       float64
-0.31       float64
dtype: object
1              Albania   137.5   94.7  -42.8  -0.31
0              Algeria   109.5   61.5  -48.0  -0.44
1       American Samoa   113.3   88.5  -24.9  -0.22
2              Andorra    91.5   42.0  -49.5  -0.54
3               Angola    91.1   56.3  -34.8  -0.38
4  Antigua and Barbuda    38.6   24.7  -13.9  -0.36
Processing column: 137.5
Processing column: 94.7
Processing column: -42.8
Processing column: -0.31
Data types after conversion:
1
 Albania     object
 137.5      float64
 94.7       float64
-42.8       float64
-0.31       float64
dtype: object
Data cleaning complete and files saved.

In [7]:
import pandas as pd

# Load the dataset
age_by_category = pd.read_excel('types_of_diseases.xlsx')

# Assuming the correct headers start from the second row
age_by_category.columns = age_by_category.iloc[1]  # Set the second row as headers
age_by_category = age_by_category.iloc[2:].reset_index(drop=True)  # Drop the first two rows which are headers and reset index

# Display data types and structure before conversion
print("Data types and structure before conversion:")
print(age_by_category.dtypes)
print(age_by_category.head())

# Convert columns to numeric, skipping 'Country/area'
for col in age_by_category.columns[1:]:  # Assuming 'Country/area' is the first column
    print(f"Processing column: {col}")
    try:
        # Explicitly ensure the column is treated as a Series
        series_col = pd.Series(age_by_category[col])
        age_by_category[col] = pd.to_numeric(series_col, errors='coerce')
    except Exception as e:
        print(f"Error processing {col}: {e}")
        print(f"Data in {col}: {age_by_category[col].head()}")  # Display first few entries to inspect

# Display data types after conversion
print("Data types after conversion:")
print(age_by_category.dtypes)

# Drop rows with any missing values
cleaned_age_by_category = age_by_category.dropna()

# Save the cleaned dataset
cleaned_age_by_category.to_csv('cleaned_types_of_diseases.csv', index=False)

print("Data cleaning complete and files saved.")

Data types and structure before conversion:
1
Afghanistan    object
25371          object
1052           object
7478           object
296            object
7168           object
3125           object
3144           object
4372           object
717            object
2764           object
25968          object
8312           object
6286           object
13837          object
30644          object
12218          object
2449           object
588            object
810            object
687            object
3931           object
1077           object
609            object
4502           object
1873           object
2517           object
11108          object
14025          object
dtype: object
1     Afghanistan  25371  1052   7478   296  7168  3125  3144  4372    717  \
0         Albania   8433  2245   1343   625   256     8   858    23     55
1         Algeria  58623  1707  12228   805  6216   194  7384   270    803
2  American Samoa     78     6     19     2    12     4    14     2      4
3         Andorra     84     5     16    24     7     0     5     0      1
4          Angola  19389  1207   2060  7613  3732  5885  1231  4898  16963

1  ...   810  687  3931 1077  609   4502  1873  2517  11108  14025
0  ...    70    0    10    3    0   1927   242    13   2444    123
1  ...  1357    2   137   98  111  21558  3977   271  20314   5704
2  ...     1    0     0    0    0      9    14     1     30      2
3  ...     7    0     0    0    0     13     7     0     31      0
4  ...   823  192  3656  875  429   8251   632  4472   4118  16154

[5 rows x 29 columns]
Processing column: 25371
Processing column: 1052
Processing column: 7478
Processing column: 296
Processing column: 7168
Processing column: 3125
Processing column: 3144
Processing column: 4372
Processing column: 717
Processing column: 2764
Processing column: 25968
Processing column: 8312
Processing column: 6286
Processing column: 13837
Processing column: 30644
Processing column: 12218
Processing column: 2449
Processing column: 588
Processing column: 810
Processing column: 687
Processing column: 3931
Processing column: 1077
Processing column: 609
Processing column: 4502
Processing column: 1873
Processing column: 2517
Processing column: 11108
Processing column: 14025
Data types after conversion:
1
Afghanistan     object
25371          float64
1052           float64
7478           float64
296            float64
7168           float64
3125           float64
3144           float64
4372           float64
717            float64
2764           float64
25968          float64
8312           float64
6286           float64
13837          float64
30644          float64
12218          float64
2449           float64
588            float64
810            float64
687            float64
3931           float64
1077           float64
609            float64
4502           float64
1873           float64
2517           float64
11108          float64
14025          float64
dtype: object
Data cleaning complete and files saved.

In [8]:
import pandas as pd

# Load the dataset
age_by_category = pd.read_excel('gender.xlsx')

# Assuming the correct headers start from the second row
age_by_category.columns = age_by_category.iloc[1]  # Set the second row as headers
age_by_category = age_by_category.iloc[2:].reset_index(drop=True)  # Drop the first two rows which are headers and reset index

# Display data types and structure before conversion
print("Data types and structure before conversion:")
print(age_by_category.dtypes)
print(age_by_category.head())

# Convert columns to numeric, skipping 'Country/area'
for col in age_by_category.columns[1:]:  # Assuming 'Country/area' is the first column
    print(f"Processing column: {col}")
    try:
        # Explicitly ensure the column is treated as a Series
        series_col = pd.Series(age_by_category[col])
        age_by_category[col] = pd.to_numeric(series_col, errors='coerce')
    except Exception as e:
        print(f"Error processing {col}: {e}")
        print(f"Data in {col}: {age_by_category[col].head()}")  # Display first few entries to inspect

# Display data types after conversion
print("Data types after conversion:")
print(age_by_category.dtypes)

# Drop rows with any missing values
cleaned_age_by_category = age_by_category.dropna()

# Save the cleaned dataset
cleaned_age_by_category.to_csv('cleaned_gender.csv', index=False)

print("Data cleaning complete and files saved.")

Data types and structure before conversion:
1
Afghanistan    object
0.394          object
0.072          object
39068978       object
dtype: object
1 Afghanistan  0.394  0.072  39068978
0     Albania  0.388   0.06   2871951
1     Algeria  0.413  0.007  44042093
2     Andorra  0.353  0.283     77398
3   Argentina  0.294  0.196  45191960
4     Armenia  0.494  0.015   2890894
Processing column: 0.394
Processing column: 0.072
Processing column: 39068978
Data types after conversion:
1
Afghanistan     object
0.394          float64
0.072          float64
39068978       float64
dtype: object
Data cleaning complete and files saved.